
 <section class="navigation">
  <div class="nav-container">
    <div class="brand">
      <a href="/"> <img src="/images/logo.png"></a>
    </div>
    <nav>
      <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
      <ul class="nav-list">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="#">Projects</a>
          <ul class="nav-dropdown">
            <li>
              <a href="/project_uiux">UI/UX</a>
            </li>
            <li>
              <a href="/graphic">Graphic Design</a>
            </li>
            <li>
              <a href="/r-pie">Website</a>
            </li>
            <li>
              <a href="/r-croissant">JavaScript</a>
            </li>
            </ul>
        </li>
        <li>
          <a href="/Aboutme">About Me</a></li>
        <li>
          <a href="/contact">Contact Me</a></li>
       </ul>
    </nav>
  </div>
</section>
</header>