html,body {
    height: 100%;
    margin:0;
    background-color:#f7dcf4;
   
  }
.w50{
  width: 50%;
}
  video,img{
    max-width:100%;
  }


  .about_container{
   max-width:1400px;
   padding:40px;
   margin:20px auto;
   text-align:left;
   flex-wrap:wrap;
   color:#5A189A;
   font-size:18px;
   display:flex;
  flex-direction: row;
  justify-content: center;
}
  
.about_container2{
     max-width: 1400px;
     padding: 0 40px;
     margin: 20px auto;
     text-align: left;
     flex-wrap: wrap;
     color: #5A189A;
     font-size: 18px;
     display: flex;
     flex-direction: column;
     justify-content: center;
    }
      
    .icons {
        padding: 0 80px;
    }
    

    
    .p40{
      padding:40px;
    }
    .p10{
      padding:10px;
    }

    
    
    @media screen and (max-width: 500px) {
     
    .about_container{
     padding: 40px;
     margin: 0px; 
     display: flex;
     align-content: center;
     flex-direction: column;
     justify-content: center;
     align-items: center;
    }

     .w50{
      width:auto;
     }
     .about_container2{
        padding: 0; 
        flex-direction: row; 
     }
    
    