html,body {
  height: 100%; 
  width: 100%;  
  margin:0;
  background-color:#fff9fA;
 
}

video,img{
max-width:100%;
}

/* footer{ */
  /* background:#ffc6e8; */
  /* height:100px; */
/* } */
.home_container{
  max-width: 1400px;
  margin:20px auto;
  text-align:left;
  /* flex-wrap:wrap; */
  color:#5A189A;
  font-size:18px;
  display:flex;
  /* flex-direction: row; */
  /* justify-content: center; */
  }
.container{
  max-width: 1400px;
  margin:20px auto;
  text-align:left;
  /* flex-wrap:wrap; */
  color:#5A189A;
  font-size:18px;
  display:grid;
  /* flex-direction: row; */
  /* justify-content: center; */
  }

  .container2{
    max-width:auto;
    margin:20px auto;
    display: center;
    text-align:center;
    flex-wrap:wrap;
    justify-content: center;
    color: #5A189A;
    }
  .hero{
  max-width: auto;
  margin:80px auto;
  display:center;
  }
   
  .p40{
    padding:40px;
  }
  .p10{
    padding:10px;
  }
  .c50{
    width: 50%;
  }

  
/* contact */
.contact_container{
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  /*display: flex;*/
  /* flex-direction: column; */
 /* place-items:center;  */
  /* justify-content: center;  */
	/* align-items: center;  */
  padding: 40px;}

  .cardforcontact {
    justify-content: center;
    border-radius: 25px;
    text-align:center;
    width:200px;
    margin:40px;
    padding:40px;
    align-items: center;
    background-color:#ffffff;
      
  }
  .cardforcontact:hover {
    background-color:#eeb1cf;
   }

  /* responsive*/
  @media screen and (max-width: 500px) {
    .home_container{
      padding: 10px;
      margin: 0px;
      display: flex;
      align-content: center;
      flex-direction: column;
      justify-content: center;
      align-items: center; 
    }
    .container{
      padding: 10px;
      margin: 0px;
      display: flex;
      align-content: center;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      }
  .c50{
    width:90%;
  }
  .uiux {
     display: flex;
     align-content: center;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: flex-start;
     align-items: center;
  
  }
  .contact_container{
    padding: 0;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
    justify-content: center;
  }
  .cardforcontact{
    width: 250px;
    padding: 20px;
    margin:0;
  }
  